<h2>Projects</h2>
<article>
  <h3>job1</h3>
  <img class="right" src="http://fpoimg.com/300x60" />
  <h6>position</h6>
  <p>Aliquam nisl metus, malesuada vel molestie vel, cursus nec purus. Suspendisse pharetra tristique nulla, ut volutpat enim tempor ac. Donec consectetur porta dolor, id eleifend nisi lobortis eu. Ut ornare ligula eget dolor venenatis, sit amet semper arcu ultrices. Etiam ultrices felis quis massa varius laoreet. Suspendisse potenti. Praesent sit amet dolor vitae leo gravida dapibus id non sem.</p>
  <p><a href="http://www.ethicon.com/">Site</a></p>
</article>
<article>
  <h3>job2</h3>
  <img class="right" src="http://fpoimg.com/300x60" />
  <h6>position</h6>
  <p>Donec a pellentesque dui. Nulla aliquet dapibus pharetra. Praesent ultricies et ipsum sit amet rutrum. Integer vitae posuere nunc, at lacinia elit. Sed volutpat velit euismod leo blandit suscipit. Nulla hendrerit tellus at odio laoreet viverra. Vestibulum laoreet felis at ante sagittis, lobortis aliquam libero lacinia. Curabitur in nisi convallis, tincidunt metus nec, interdum libero.</p>
  <p><a href="http://www.projectdragonfly.org/">Site</a></p>
</article>
<article>
  <h3>job3</h3>
  <img class="right" src="http://fpoimg.com/300x60" />
  <h6>position</h6>
  <p>Mauris accumsan enim vel massa gravida, tincidunt consectetur ligula porta. Sed vitae nibh nec lectus placerat consectetur. Cras euismod tincidunt velit, non tempus mauris fermentum a. Morbi tempus justo at nulla rutrum vulputate.</p>
</article>
<article>
  <h3>job4</h3>
  <img class="right" src="http://fpoimg.com/300x60" />
  <h6>position</h6>
  <p>Integer odio urna, molestie laoreet porttitor nec, ullamcorper quis nunc. Pellentesque eget lectus dolor. Sed cursus commodo ante. Cras nec nisi porttitor, scelerisque quam vitae, dignissim lacus. Sed aliquet, tortor eu convallis rhoncus, lacus turpis vulputate augue, ac eleifend quam risus vehicula nisl. Praesent tincidunt dolor eu eros adipiscing aliquet. Proin ut turpis et ante ultrices scelerisque sed quis tellus.</p>
</article>