// Flat UI Colors  http://flatuicolors.com/
$clouds: #ecf0f1;
$concrete: #95a5a6;
$silver: #bdc3c7;
$asbestos: #7f8c8d;
$midnight-blue: #2c3e50;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$amethyst: #9b59b6;
$peter-river: #3498db;
$belize-hole: #2980b9;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$pumpkin: #d35400;
$carrot: #e67e22;
$orange: #f39c12;
$sun-flower: #f1c40f;
$emerald: #2ecc71;
$nephritis: #27ae60;
$green-sea: #16a085;
$turquoise: #1abc9c;

body {
	background-color: $midnight-blue;
}

.right { float: right; }
.left { float: left; }

img.right, img.left { 
	border: 1px solid $concrete;
	padding: 5px; 
}

img.right { margin: 10px 0 10px 10px; }
img.left { margin: 10px 10px 10px 0; }

a:hover { color: $alizarin; }

header {
	@include transform(translate3d(0px, 0, 0));
	@include transition(all .2s);

	float: left;
	width: 250px;
	padding: 15px;
	a { 
		color: $clouds; 
		text-shadow: 1px 1px 1px #000;
	}
	h1 small { color: $silver; }
	h1 { font-size: 24px; }

	nav { 
		margin-left: -15px; 
		margin-right: -15px; 
	}
	li { color: #fff; }
	li.active a { 
		color: $alizarin;
		border-right: 5px solid $alizarin; 
	}
	li a { 
		background-color: $wet-asphalt;
		padding: 15px;
		display: block;
		color: $clouds; 
	}
}

article {
	border-bottom: 2px solid lightgrey;
	margin-bottom: 10px;
}

.container {
	color: #4d4f53;
	box-shadow: 0px 0px 11px #1B1D1F;
	background-color: #fff;
	margin: 0 0 0 250px;
	@include transition(all .2s);
	h2 { 
		color: #4d4f53; 
		font-weight: 700; 
		text-align: center;
		text-shadow: 1px 1px 1px #4d4f53;
	} 
	h3, h4, h5 { 
		color: $alizarin; 
	}
	h6 { 
		font-style: italic;
		color: #4d4f53; 
		font-weight: 700; 
	}
}
#content-region {
	margin-top: 10px;
	padding-top: 10px;
	.centered {
		@include transition(all .2s);
	}
}
#mobile-menu {
	a { 
		color: $clouds; 
		text-shadow: 1px 1px 1px #000;
	}
	display:none;
	background-color: $midnight-blue;
	&.row:before, &.row:after {
		display: none;
	}
	.columns { 
		height: 42px;
		padding-top: 10px;
	}
	#mobile-logo {
		text-align: center;
		display: inline-block;
		width: 100%;
		font-size: 32px;
		font-family: 'Yesteryear';
	}
	#mobile-menu-toggle {
		padding: 0 10px 6px 10px;
		position: absolute;
		cursor: pointer;
	}
}
body.offcanvas {
	header {
		width: 250px;
		@include transform(translate3d(0, 0, 0));
	}
	.container {
		@include transform(translate3d(250px, 0, 0));
	}
}

@include respond(all-phones) {
	.right, .left { float: none; }
	img.right, img.left {
		margin: 10px auto;
		display: block;
	}

	header {
		width: 0;
		position: absolute;
		@include transform(translate3d(-250px, 0, 0));
	}
	.container { margin: 0px!important; }
	#mobile-menu { display: block; }
	body.offcanvas {
		overflow: hidden;
	}
}

@include respond(non-phones) {
	// reset
	header {
		width: 250px;
		position: relative;
		@include transform(translate3d(0, 0, 0));
	}
	body.offcanvas {
		.container {
			@include transform(translate3d(0, 0, 0));
		}
	}

}